@font-face {
  font-family: iconfont; /* Project id 3865092 */
  src: url("iconfont.ttf?t=1715047221236") format("truetype");
}
.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zuixiaohua::before {
  content: "\e625";
}
.icon-guanbi::before {
  content: "\e617";
}
.icon-yanzhengyanzhengma::before {
  content: "\e624";
}
.icon-language1::before {
  content: "\e9cf";
}
.icon-suoxiao::before {
  content: "\e616";
}
.icon-bell1::before {
  content: "\e887";
}
.icon-quanping::before {
  content: "\e615";
}
.icon-search1::before {
  content: "\e614";
}
