// * card 卡片样式
.card {
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--el-fill-color-blank);
	border: 1px solid var(--el-border-color-light);
	border-radius: 4px;
	box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

// * 欢迎提示
.welcome_not {
	width: 340px !important;
	top: 70px !important;
	right: 25px !important;
}
