html,
body,
#app {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}
/* 解决 h1 标签在 webkit 内核浏览器中文字大小失效问题 */
:-webkit-any(article, aside, nav, section) h1 {
	font-size: 2em;
}
/* 解决密码自动填充表单输入框默认添加背景色 */
input:-internal-autofill-selected {
	background-color: #fff !important;
}
/* 阻止在 mac 上触底反弹 橡皮筋 效果 */
body {
	overscroll-behavior: none;
}
