#header {
	border-bottom: 1px solid var(--el-menu-border-color);
	.el-header {
		height: 55px;
		padding: 0 15px;
		.toolbar {
			height: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			.bar-left {
				display: flex;
				align-items: center;
				.el-icon {
					cursor: pointer;
					font-size: 24px;
				}
			}
			.bar-right {
				display: flex;
				align-items: center;
				margin-right: 20px;
				.bar-right-icons {
					display: flex;
					width: 200px;
					justify-content: space-around;
					align-items: center;
					.search,
					.notice,
					.language,
					.screen {
						font-size: 22px;
						height: 22px;
						cursor: pointer;
						:deep(.iconfont) {
							color: #000;
							font-size: 22px;
							vertical-align: top;
						}
					}
				}
			}
		}
	}
}
